
<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Organization",
  "url": "http://www.{store}.com.br/",
  "logo": "http://www.{store}.com.br/arquivos/{store}-logo.png",
  "sameAs": [
    "http://www.facebook.com/{store}",
    "http://twitter.com/{store}",
    "http://instagram.com/{store}",
    "http://www.youtube.com/user/{store}"
  ]
}
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "WebSite",
  "name": "Store",
  "url": "http://www.{store}.com.br/",
  "potentialAction": {
    "@type": "SearchAction",
    "target": "http://www.{store}.com.br/?ft={search_term}",
    "query-input": "required name=search_term"
  }
}
</script>
