
/**
 * Colors
 */
$color-white: #fff;
$color-gray-lighten: #f9f9f9;
$color-gray-light: #eee;
$color-gray: #bfbfbf;
$color-gray-dark: #656667;
$color-gray-darken: #00304c;
$color-black: #000;

$color-blue-lighten: #00b3e6;
$color-blue-light: #00a1d9;
$color-blue: #0f63a5;
$color-blue-dark: #133d85;
$color-blue-darken: #00456e;

$color-orange-light: #fc8f4d;
$color-orange: #ef963d;
$color-orange-dark: #cf9f47;
$color-orange-darken: #d28253;

$color-primary: $color-blue;
$color-secondary: $color-orange;
