
/**
 * Social Media Colors
 */
$color-facebook  : #526cac !default;
$color-google    : #d34b37 !default;
$color-instagram : #b59174 !default;
$color-linkedin  : #0286be !default;
$color-rss       : #f9a600 !default;
$color-twitter   : #1ebaec !default;
$color-youtube   : #c42232 !default;
