
/**
 * General Variables
 * Call on every SASS files
 */
$color-body-text : $color-gray-dark;
$color-body-bg   : $color-gray-lighten;
$container-width : 1280px;
$menu-max-width  : 360px;
$input-height    : 32px;
